/* GLOBAL STYLE */

* {
    margin: 0;
    padding: 0;
    font-family: Roboto Condensed;
    list-style: none;
    text-decoration: none;
    
}

body {
    overflow: auto;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body:after {
    content: "";
    background: url(../img/background.jpg) center no-repeat;
    background-size: cover;
    opacity: .5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.flex {
    display: flex;
}


.wrapper {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shadow {
    -webkit-box-shadow: 0px 1px 2px rgba(44, 62,80,0.15);
    -moz-box-shadow: 0px 1px 2px rgba(44, 62,80,0.15);
    box-shadow: 0px 1px 2px rgba(44, 62,80,0.15);
}

.active {
    visibility: visible !important;
    transition: .2s;
    animation: addMove 90ms;
}