/* INPUT GLOBAL STYLES */

input {
    width: 100px;
    height: 40px;
    max-width: 100%;
    margin: 5px;
    outline: none;
    padding: 0 80px 0 0;
    color: #810010;
    font-size: 20px;
    text-indent: 10px;
    border: 2px solid white;
    background: rgba(255, 255, 255, .8);
    opacity: .9;
}

/* APPLICATION PAGE INPUT */

.add-list-item input {
    width: 100%;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    height: 60px;
    background: rgba(238, 238, 238, .3);
    opacity: .5;
}

.add-list-item input::-webkit-input-placeholder {
    outline: none;
    color: white;
    font-size: 25px;
}