/* TITLE */

.title {
    color: #fb9e9a;
    padding: 40px;
    text-align: center;
}

/* LOGIN WRAPPER */

.login-wrapper {
    padding: 10px;
}

/* SIGNUP FORM */

.signup-form {
    visibility: hidden;
}