/* TITLE */

.title {
    color: #fb9e9a;
    padding: 40px;
    text-align: center;
}

/* LOGIN WRAPPER */

.login-wrapper {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}