* {
    margin: 0;
    padding: 0;
    font-family: Roboto Condensed;
}

body {
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body:after {
    content: "";
    background: url(../img/background.jpg);
    background-size: cover;
    opacity: .8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.flex {
    display: flex;
}


.wrapper {
    flex-direction: column;
}

/*TITLE*/

.title {
    color: #fb9e9a;
    padding: 40px;
    text-align: center;
}

/*LOGIN WRAPPER*/

.login-wrapper {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.input {
    width: 100px;
    height: 40px;
    max-width: 100%;
    margin: 5px;
    outline: none;
    padding: 0 80px 0 0;
    color: #810010;
    font-size: 20px;
    text-indent: 10px;
    border: 2px solid white;
    background: rgba(255, 255, 255, .8);
    opacity: .9;
}

form.header {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 90px;
    z-index: 5;
    background: #fb9e9a;
    -webkit-box-shadow: 0px 2px 4px rgba(44, 62,80,0.15);
    -moz-box-shadow: 0px 2px 4px rgba(44, 62,80,0.15);
    box-shadow: 0px 2px 4px rgba(44, 62,80,0.15);
}

form.header .input {
    width: 100%;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    height: 60px;
    background: rgba(238, 238, 238, .3);
    opacity: .5;
}

form.header input::-webkit-input-placeholder {
    outline: none;
    color: white;
    font-size: 25px;
}

.add-item {
    justify-content: center;
    align-items: center;
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 22px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    z-index: 2;
    color: #fb9e9a;
}

.add-item:active, .default-button:active {
    outline: none;
    border: none;
    animation: addMove 90ms;
}


@keyframes addMove {
    0% {transform:scale(0);}
    90% {transform:scale(1.2);}
    100% {transform:scale(1);}
}

.list {
    margin: 70px 30px 0;
    flex-direction: column;
    justify-content: center;
}

.item {
    justify-content: space-between;
    color: #7b7b7b;
    height: 60px;
    margin-bottom: 15px;
    background-color: #fbfeff;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 2px rgba(44, 62,80,0.15);
    -moz-box-shadow: 0px 1px 2px rgba(44, 62,80,0.15);
    box-shadow: 0px 1px 2px rgba(44, 62,80,0.15);
}

.item p {
    flex-wrap: wrap;
    align-items: center;
}
.item:last-of-type {
    margin: 0;
}
.item * {
    padding: 10px;
    margin: 0 20px 0 20px;
}

.remove {
    width: 15px;
    cursor: pointer;
    color: #9e9e9e;
    justify-content:center;
    align-items: center;
}

.remove svg:hover {
    color: #b90b3e;
}
.remove svg:active {
    color: #ff1d33;
    animation: addMove 90ms;
}

ul.list:empty::after {
    padding: 10px 20px;
    opacity: .9;
    background: white;
    color: #aaa;
    content: 'Nic tu nie ma. Nie ma czego plądrować.';
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
}

/*logged-in*/

.logged-in {
    align-items: flex-end;
    justify-content: flex-end;
}

.default-button {
    color: #aaaaaa;
    background: #f6f6f6;
    margin: 10px;
    outline: none;
    border: none;
    padding: 10px;
    -webkit-box-shadow: 0px 1px 2px rgba(44, 62,80,0.15);
    -moz-box-shadow: 0px 1px 2px rgba(44, 62,80,0.15);
    box-shadow: 0px 1px 2px rgba(44, 62,80,0.15);
}

.default-button:hover {
    transition: .3s;
    background: white;
    cursor: pointer;
}